@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

/* Whole web style */
body {
  margin: 0;
  background-color: #DED6C1;
  font-family: 'Roboto Slab', 'Helvetica', serif;
  text-align: justify;
  font-size: 13px;
  min-height: 100%;
  width: 100%;
  position: absolute;
}

/* Basic tags elements */

h1 {
  color: #4F615D;
  text-align: center;
}

h2 {
  color: #4F615D;
  font-size: 18px;
}

h3 {
  color: #F05D59; 
  text-align: justify;
  font-weight: normal;
  font-size: 20px;
}

h4 {
  margin-top: 5px;
}

a:link {
  color: #F05D59;
}

a:hover {
  color: #4F615D;
  outline: thin solid #4F615D;
}

/* Web navigation bar */
nav {
  background-color: #3A3030;
  margin: 0 auto;
  display: block;

}

nav ul {
  margin: 0px auto 0px auto;
  width: 55%;
  padding-left: 0;
  padding-right: 0;
  
}
nav li {
  display: inline-block;
  list-style-type: none;
  padding: 10px;
}

nav li:first-child {
  padding-left: 0;
}

nav li:last-child {
  padding-right: 0;
}

nav a {
  text-decoration: none;
  font-size: 13px;
  outline: none !important;
}

nav a:hover {
  text-decoration: underline;
}

nav a:not(.currentWeb) {
  color: #F05D59 !important;
}

nav a.currentWeb {
  color: white;
}

/* Web footer */
body > footer {
  background-color: #4F615D;
  color: white;
  margin-top: 30px;
  padding-top: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

body > main {
  margin-bottom: 80px;
  position: relative;
}

body > footer div {
  width: 55%;
  margin: auto
}

body > footer a {
  outline: 0px !important;
}

#alumnname {
  float: right;
}

/* Main block */

/* Main header*/

main > header img { 
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

main > header img {
  border: white 10px solid;
  width: 100%;
  outline: #CCCCCC 1px solid;
  box-sizing: border-box;
}

main > header div {
  text-align: right;
}

/* Main footer */

main {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

main > footer {
  color: #7A918C;
}

main > footer a {
  color: #7A918C !important;
}

main > footer a:hover {
  color: white !important;
  outline: 0px !important;
}

/* Blockquote */

blockquote {
  background-color: white;
  border-left: #7A918C 3px solid;
  margin: 15px 0px;
  padding: 10px 20px;
}

blockquote.additionalinfo p { 
  color: #7A918C; 
  margin: 0px 0px 10px 0px;
  font-size: inherit;
  text-align: justify;
}

blockquote p {
  color: #F05D59;
  font-size: 18px;
  text-align: left;
  margin-top: 0px;
}

blockquote footer {
  margin-top: 10px;
}

.quoteextra {
  text-transform: uppercase;
}

/* Definition list */

dt {
  margin-top: 15px;
  color: red;
  font-size: 15px;
}

dt > * {
  padding: 5px 0px;
  display: inline-block; 
}


dt > a {
  outline: 0 !important;
  text-decoration: none;
  font-size: 13px;
  color: white !important;
  background: #f08785;
  border-radius: 7px;
  padding: 5px 8px; 
  float: right;

}

dt a:link i {
  padding: 0px 5px;
}

dd {
  margin-left: 0;
  margin-top: 5px;
}

dl dd:nth-of-type(2n+1) {
  color:gray;
}



/* Lists */

main ul {
  padding: 0;

}

main ul > li {
  margin-top: 10px;
}

main ol li {
  margin-top: 5px;
}

/* Font Awesome icon list */
.fa-ul {
  margin : 1.5em !important;
}

ul i.fa::before {
  margin: -1.5em;
}

.red-icon {
  color: red;
}
.blue-icon {
  color: blue;
}
.pink-icon {
  color: deeppink;
}
.black-icon {
  color: black;
}
.violet-icon {
  color: blueviolet;
}

/*Background image icon list*/

li[class$="img-icon"] {
  background: no-repeat left 1px;
  background-size: 15px auto;
  list-style-type: none;
  padding: 0 0 0 20px;
}

.film-img-icon {
  background-image: url('../img/camara.png')  !important;
}

.book-img-icon {
  background-image: url('../img/libro-abierto.jpg') !important;
}
.guide-img-icon {
  background-image: url('../img/guias.png') !important;
}







